entrada.json
salida
Structures/salida

DictionaryWords.dot
DictionaryWords.png
Structures/DictionaryWords.dot
Structures/DictionaryWords.png

ListOfIndividualCoin.dot
ListOfIndividualCoin.png
Structures/ListOfIndividualCoin.dot
Structures/ListOfIndividualCoin.png

QueueCoins.dot
QueueCoins.png
Structures/QueueCoins.dot
Structures/QueueCoins.png

ScoreBoardGeneral.dot
ScoreBoardGeneral.png
Structures/ScoreBoardGeneral.dot
Structures/ScoreBoardGeneral.png

ScoreBoardIndividual.dot
ScoreBoardIndividual.png
Structures/ScoreBoardIndividual.dot
Structures/ScoreBoardIndividual.png

SparseMatrix.dot
SparseMatrix.png
Structures/SparseMatrix.dot
Structures/SparseMatrix.png

traverseInorder.dot
traverseInorder.png
Structures/traverseInorder.dot
Structures/traverseInorder.png

traversePosorder.dot
traversePosorder.png
Structures/traversePosorder.dot
Structures/traversePosorder.png

traversePreorder.dot
traversePreorder.png
Structures/traversePreorder.dot
Structures/traversePreorder.png

UsersTree.dot
UsersTree.png
Structures/UsersTree.dot
Structures/UsersTree.png

